###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_to_a_real_secret
###< symfony/framework-bundle ###

MYSQL_DATABASE=products
MYSQL_USER=products_user
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

DATABASE_URL="mysql://products_user:change_me@products_mysql:3306/products?serverVersion=8.0"

FRAMEWORK_IDE=phpstorm

API_ROUTE_PREFIX=/api
API_DOMAIN=localhost
DOMAIN_SCHEME=http
###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_generate_new_passphrase
###< lexik/jwt-authentication-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###
